.has-text-centered
  hr
  p.title.is-5 This is the another component in the src/template folder
  p.subtitle.is-5 Amy says hi
  figure.image(style="display: block;margin-left: auto;margin-right: auto;width: 50%;")
    img.is-rounded(src="http://218.161.27.75/evan/img/ami.jpg" alt="阿咪")

