extends ../templates/base

//- Use append to overwrite vars from base template
block append variables
  - title = "Hello World"
  - subtitle = "Example"

//- place for external js libraries
block scripts
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js')
  script(src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js")

//- place for external style libraries
block styles
  script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css")
  
  //- include your own styles

    //- include as plan text
    style(type='text/css')
      include:clean-css ../styles/bulma.min.css

    //- include the compiled file (sass files in src/styles will be compiled into dist/css)
  link(rel="stylesheet" href="../styles/helloworld.sass")

    //- or code here
  style(type='text/css').
    #app{
      padding-top: 2.5rem;
    }

block content
  //- main content
  #app.has-text-centered
    p.title Hello World!
    p.subtitle Welcome to web-quick-templating
    p(v-if="is_shown") {{message}}
    p(v-else) You can't see me.
    br
    button.button(@click="show") show
    br
    br
    p 
      | Use api call like this!  
      button.button.is-small.is-black(@click="call") click
      br
      | call http://218.161.27.75/test_api/ping
      br
      span(v-if="response") Response: {{response}}

  //- include components from other file
  //- note that components share the same css styles defined here
  include ../templates/HelloWorldComponent


  //- javascript

    //- include the file as plan text
    script(type='text/javascript')
      include ../js/xxx.js

    //- include the compiled file
    script(type='text/javascript' src='./js/xxx.js')

    //- or write it here
  script(type='text/javascript').
    var app = new Vue({
      el: '#app',
      data: {
        is_shown:false,
        message: 'Hello World!',
        response:''
      },
      methods:{
        show(){
          this.is_shown = true;
          console.log('show')
        },
        call(){
          axios.get('http://218.161.27.75/test_api/ping')
          .then(res=>{
            console.log(res)
            this.response = res.data
          })
        }

      }
    })

block foot
  //- variables
  - var site = 'https://github.com/mutsuki333'
  - var author = 'Evan'

  //- styles set in styles/helloworld.sass
  footer.footer
    .content.has-text-centered
      p
        strong Document
        |  by 
        a(href=site) #{author}
        | . All rights reserved.
